:root {
  --primary-bg-color: #411d11;
  --text-color: #fd8755;
  --main-bg-color: #2e0909;
  --main-text-color: #ffa4a4;
  --main-btn-bg-color: #fc8b40;
}

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Add additional styles as needed */

/* Create a container for the main content */
.container {
  max-width: 1000px;
  width: 100%;
  padding: 10px;
}

/* Header styling */
header {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

/* Navigation styling */
nav {
  margin-top: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

#audio-cover {
  width: 60%;
  height: auto;
  margin: 20px auto;
  border: 5px solid #ffa4a4;
}

.description {
  text-align: center;
  color: #ffa4a4;
}
/* Media player styling */
.media-player {
  width: 100%;
  margin: 0 auto;
}

.media-player video {
  max-width: 100%;
}

.custom-controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 20px;
  width: 100%;
}

.custom-controls button {
  background-color: var(--main-btn-bg-color);
  border-radius: 50%; /* To make the icon round for aesthetic purpposes */
  border: none;
  padding: 8px 9px;
  cursor: pointer;
}

.progress-bar {
  width: 70%;
  height: 7px;
  border-radius: 10px; /* To give the bar rounded edges */
  background-color: #000000;
  margin: 10px auto;
  margin-top: 20px;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: #f9a260;
  width: 0;
  transition: width 0.3s ease;
}

/* Footer styling */
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
