body {
  margin: 0;
  height: 100vh;
  background-image: url(image_assets/space\ bg.png); /*   The character and background is drawn by me. 
  Moon object: William.Thompsonj (2020) Pixel Moon, OpenGameArt.org, https://opengameart.org/content/pixel-moon, accessed 20 May 2025. */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

#typingBox {
  width: 50%;
  height: 200px;
  padding: 20px;
  line-height: 2em;
  font-size: 15px;
  font-family: "Press Start 2P";
  color: #ffffff;
  background: rgb(0, 0, 0, 0.5);
  border: 3px solid #e6b6ff;
  border-radius: 8px;
  resize: none;
}

#typingBox:focus {
  border: 3px solid #e6b6ff;
  outline: none;
}

#typingBox::placeholder {
  color: #e5b6ff8e;
}

#promptBox {
  width: 65%;
  height: 70px;
  padding: 20px;
  font-size: 15px;
  font-family: "Press Start 2P";
  line-height: 25px;
  color: #e6b6ff;
  background: rgb(0, 0, 0, 0.5);
  border: 3px solid #e6b6ff;
  border-radius: 8px;
  resize: none;
  cursor: default;
  overflow: hidden;
  white-space: normal;
  animation: typing 2s steps(22);
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 65%;
  }
}

#promptBox:focus {
  border: 3px solid #e6b6ff;
  outline: none;
}

.character {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 550px;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -54%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.box-top {
  position: absolute;
  top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.box-bottom {
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-group {
  position: absolute;
  bottom: 18px;
  left: 18%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  font-family: "Press Start 2P";
  color: #e6b6ff;
  background-color: #000000;
  border: 3px solid #e6b6ff;
  cursor: pointer;
  transition: transform 0.5s ease;
}

button:hover {
  color: #000000;
  background-color: #e6b6ff;
  animation: pulse 0.5s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
