body {
  margin: 0;
  height: 100vh;
  background-image: url(image_assets/Screenshot\ 2025-05-19\ at\ 5.22.06\ pm.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#typingBox {
  width: 50%;
  height: 200px;
  padding: 10px;
  font-size: 15px;
  color: #ffffff;
  background: rgb(0, 0, 0, 0.5);
  border: 3px solid #e6b6ff;
  border-radius: 8px;
  resize: none;
}

#typingBox:focus {
  border: 3px solid #e6b6ff;
  outline: none;
}

#typingBox::placeholder {
  color: #e5b6ff8e;
}

#promptBox {
  width: 65%;
  height: 60px;
  padding: 10px;
  font-size: 15px;
  color: #e6b6ff;
  background: rgb(0, 0, 0, 0.5);
  border: 3px solid #e6b6ff;
  border-radius: 8px;
  resize: none;
  cursor: default;
}

#promptBox:focus {
  border: 3px solid #e6b6ff;
  outline: none;
}

.character {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -54%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.box-top {
  position: absolute;
  top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.box-bottom {
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-group {
  position: absolute;
  bottom: 18px;
  left: 18%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  height: 30px;
  color: #e6b6ff;
  background-color: #000000;
  border-radius: 8px;
  border: 2px solid #e6b6ff;
  cursor: pointer;
  transition: transform 0.5s ease;
}

button:hover {
  color: #000000;
  background-color: #ffffff;
  animation: pulse 0.5s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
