body {
  background-image: url(image_assets/Screenshot\ 2025-05-18\ at\ 9.32.46\ pm.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

#typingBox {
  width: 50%;
  height: 200px;
  padding: 10px;
  font-size: 15px;
  border: 2px solid #000000;
  border-radius: 8px;
  resize: none;
}

#promptBox {
  width: 50%;
  height: 80px;
  padding: 10px;
  font-size: 15px;
  border: 2px solid #000000;
  border-radius: 8px;
  resize: none;
}
