* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --col01: rgb(128, 130, 236);
  --col02: white;
  --col03: rgb(163, 132, 229);
  --border: single 1rem var(--col02);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b0d9ff;
  font-family: "Lexend", "Lexend Regular";
}

p {
  text-indent: 50px;
}
