* {
  box-sizing: border-box;
  margin: 0;
}
/*:root {
  --col01: rgb(128, 130, 236);
  --col02: white;
  --col03: rgb(163, 132, 229);
  --border: single 1rem var(--col02);
} class example*/

body {
  margin: 5%;
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Lexend", "Lexend Regular";
  color: #000000;
  background-image: linear-gradient(rgb(164, 166, 255), rgb(255, 162, 162));
}

h1 {
  font-size: 30;
  margin-bottom: 5px;
}

h2 {
  font-size: 10;
  margin-top: 30px;
  margin-bottom: 10px;
}

h3 {
  font-size: 10;
  margin-top: 30px;
  margin-bottom: 10px;
}

p {
  padding-left: 40px;
}

video {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

hr {
  border-color: #000000;
  margin-top: 10px;
  width: 100%;
}
